*{
	font-size: 17px;
	font-family: 'Roboto', sans-serif;
	z-index: 1
}
h3{
	font-family: 'Oswald', sans-serif;
	font-size: 1.5rem;
	font-weight: bold;
}
h5{
	font-family: 'Roboto', sans-serif;
	font-size: 0.9rem;
}
h6{
	font-family: 'Roboto', sans-serif;
	font-size: 1.2rem;
}
td{
	border-left-color: rgba(0,0,0,0.87);
	border-width: 1px;
}
ul{
	list-style-type: circle !important;
	margin-left: 10px;
}
.listStyle>li{
	list-style-type: disc !important;
	margin-left: 40px;
}
.centerFlex{
	display: flex;
	align-items: center;
	justify-content: center;
}
.card-title{
	font-family: 'Oswald', sans-serif;
}
.cardClear{
	margin: 0px;
	padding: 0px;
}
.imageModal{
	max-height: 60%;
	width: 100%
}
.back{
	background-image: url(rodo.jpg);
	background-size: cover;
	background-position: center;
}
.marginClear{
	margin-bottom: 0px;
}
.letterSpac{
	letter-spacing: 1px;
	line-height: 25px;
}
.border{
	border-top: solid 1px grey;
	padding-top: 30px;
}
.glass{
	background-color: rgb(255,255,255,0.5);
}
.bg2{
	background-color: #E1F9F7;
}
.bg3{
	background-color: #A4EDE6;
}
.bg4{
	background-color: #53DCD0;
}
.bg5{
	background: green ;
}
.imageStyle img{
	height: 100px;
	border-radius: 5px;
	border: transparent 2px solid;
    box-sizing:border-box;
    transition:border 0.2s;
}
.imageStyle img:hover{
	transition:border 0.5s;
	box-sizing:border-box;
	border: 2px #02CCBA solid
}
.tableFont{
	font-size: 1.3rem;
}
.auto{
	margin: auto;
}
.clear{
	clear: both;
}
.glass{
	height: 100%;
	position: relative;
	z-index: 100;
}
.carousel{
	height: 590px;
	box-sizing: unset;
}
.podpis{
	display: block;
	text-align: center;
	background: #222;
	padding:7px;
}
.carousel img{
  display: block;
	height: auto;
	line-height: 200px;
	text-align: center;
	background: #cfd8dc;
}
.error{
	background-color: #fff59d;
	position: relative;
	top: 150px;
}
.select-dropdown,.select-wrapper{
	text-align: center;
	z-index: 999;
}
h3{
	text-align: center;
}
.placeholder{
	position: relative;
	bottom: 150px;
}
nav{
	z-index: 999;
}
.post{
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	object-fit: cover;
	z-index: -1;
	opacity: 0.5;
	filter: blur(5px);
	filter: contrast(80%);
}
.kuba:nth-child(odd){
	background: #311b92;
}
.kuba:nth-child(even){
	background: #424242;
}
.slideAdd{
	position: absolute;
	right: 100px;
	bottom: 10px;
	z-index: 999;
}
.positionButton{
	z-index: 999;
}
.tresc{
	max-width: 60vw;
}
.tytul{
	max-width: 100vw;
	text-align: left;
	text-transform: uppercase;
}
.caption{
	position: absolute;
	left: 0;
	z-index: 999;
	bottom: 40px;
	background: #7b1fa2;
	text-align: left;
	display: inline-block;
	padding: 0;
	margin: 0;
	opacity: 0.85;
	padding: 0 20px;
}
body{
	background-color:
}
.podpis-admina{
	text-align: right;
}
.parallax-container{
	height: 300px;
	background-color: black;
	position: relative;
}
.parallax {
	opacity: 0.5;
}
.naglowek{
	position: absolute;
	bottom:0;
	left: 20px;
}
.browser-default li {
	list-style-type: square;
}
