html,body{
  height: 100%;
}
.carousel-slider{
  height: 100%;
  width: 100%;
  background: #111;
  display: relative;
}
.carousel img{
  opacity: 0.7;
  position: absolute;
  top: -200px;
  /* filter: blur(8px);
  -webkit-filter: blur(8px); */
}
h1{
  z-index: 3;
}
.slider{
  position: relative;
}
.title{
	z-index: 3;
  position: absolute;
  bottom: 50px;
  left: 30px;
}
.startowa{
	height: 300px;
  z-index: 8888;
  position: relative;
}
h4{
  color: #fff;
}
.logo{
  z-index: 4;
  position: absolute;
  bottom: 80px;
  left: 30px;
  /* filter: invert(100%); UŻYĆ W PRZYPADKU WOJNY NUKLEARNEJ*/
}
@media only screen and (max-width: 400px) {
  .carousel-slider{
    display: relative;
  }
  .carousel img{
    position: absolute;
    height: 100%;
    top: 56px;
    /* filter: blur(8px);
    -webkit-filter: blur(8px); */
  }
  .title{
    position: absolute;
    bottom: 0;
    left: 0;
  }
  .startowa{
  	height: 200px;
    z-index: 3;
    bottom: 0;
    position: relative;
  }
  .logo{
    z-index: 4;
    position: absolute;
    bottom: 0;
    left: 0;
    display: none;
    /* filter: invert(100%); UŻYĆ W PRZYPADKU WOJNY NUKLEARNEJ*/
  }
}
