html,body{
  height: 100%;
}
/* .carousel img{
  opacity: 0.7;
  filter: blur(82px);
  -webkit-filter: blur(2px);
}
.title{
  position: absolute;
  bottom: 50px;
  left: 30px;
  z-index: 222;
}
.startowa{
	height: 400px;
  position: relative;
}
h4{
  color: #fff;
  z-index: 6;
}
.logo{
  position: absolute;
  bottom: 80px;
  z-index: 5;
  left: 30px; */

  /* filter: invert(100%); UŻYĆ W PRZYPADKU WOJNY NUKLEARNEJ
}*/
.slider .indicators .indicator-item {
  background-color: #666666;
  border: 3px solid #ffffff;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.slider .indicators {
  bottom: 60px;
  z-index: 100;
  text-align: right;
}
.slider .slides li .caption{
  position: absolute;
  height: auto;
  bottom: 0;
  left: 0;
}
.card-content > h2{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.body{
  overflow: hidden;
}
@media only screen and (max-width: 450px) {
  .slider{
    display: none;
  }
}
@media only screen and (max-width: 600px) {
/*  .card{
  width: 100vw;
  position: relative;
  margin-left: -50vw;
  left: 50%;
  }cała strona full with on mobilessss*/
  .tresc{
  	max-width: 100%;
  }
  
}
@media only screen and (max-width: 900px) {
  .carousel-item > img{
    bottom: 10%;
  }
}
